<div class="minipaint-app">
  <iframe id="myFrame" style="width:100%; border:0;" src="modules/minipaint/index.html" allow="camera"></iframe>

  </div>
</div>

<script>
// Function to hide specific elements in the iframe
function hideElementsInIframe() {
  const iframe = document.getElementById('myFrame');
  
  // Check if iframe and its content are accessible
  if (iframe && iframe.contentWindow) {
    const iframeDocument = iframe.contentWindow.document;

    // Use querySelector to find the specific elements by their selectors
    const helpMenuItem = iframeDocument.querySelector('#main_menu_0_7');
    const logoElement = iframeDocument.querySelector('a.logo');

    // Hide the help menu item if found
    if (helpMenuItem) {
      helpMenuItem.style.display = 'none';
    }

    // Hide the logo element if found
    if (logoElement) {
      logoElement.style.display = 'none';
    }
  }
}

// Attach an event listener to the iframe to run the function once it's loaded
document.getElementById('myFrame').addEventListener('load', hideElementsInIframe);

// Function to inject the Load Tile and Replace Tile menu items into the menu bar
function injectMenuItems() {
  const iframe = document.getElementById('myFrame');

  // Check if iframe and its content are accessible
  if (iframe && iframe.contentWindow) {
    const iframeDocument = iframe.contentWindow.document;

    // Find the menu bar element
    const menuBar = iframeDocument.querySelector('.menu_bar');

    if (menuBar) {
      // Create the Load Tile and Load Token menu items
      const loadTileMenuItem = iframeDocument.createElement('li');
      loadTileMenuItem.innerHTML = `
        <a id="main_menu_x" role="menuitem" tabindex="-1" aria-haspopup="false" aria-expanded="false" href="javascript:void(0)" data-level="0" onclick="window.parent.loadTile()" title="Load the selected tile into miniPaint">
          <span class="name trn">Load Tile</span>
        </a>
      `;
      const loadTokenMenuItem = iframeDocument.createElement('li');
      loadTokenMenuItem.innerHTML = `
        <a id="main_menu_y" role="menuitem" tabindex="-1" aria-haspopup="false" aria-expanded="false" href="javascript:void(0)" data-level="0" onclick="window.parent.loadToken()" title="Load the selected token into miniPaint">
          <span class="name trn">Load Token</span>
        </a>
      `;

      // Browse Foundry Menu Item
      const loadBrowseMenuItem = iframeDocument.createElement('li');
      loadBrowseMenuItem.innerHTML = `
        <a id="main_menu_xxx" role="menuitem" tabindex="-1" aria-haspopup="false" aria-expanded="false" href="javascript:void(0)" data-level="0" onclick="window.parent.browseFoundry()" title="Open the Foundry file picker to import an image">
          <span class="name trn">Browse Foundry</span>
        </a>
      `;

      // Create the Replace Tile and Replace Token menu items
      const replaceTileMenuItem = iframeDocument.createElement('li');
      replaceTileMenuItem.innerHTML = `
        <a id="main_menu_xx" role="menuitem" tabindex="-1" aria-haspopup="false" aria-expanded="false" href="javascript:void(0)" data-level="0" onclick="window.parent.replaceTile()" title="Replace the selected tile with the edited image">
          <span class="name trn">Replace Tile</span>
        </a>
      `;
      const replaceTokenMenuItem = iframeDocument.createElement('li');
      replaceTokenMenuItem.innerHTML = `
        <a id="main_menu_yy" role="menuitem" tabindex="-1" aria-haspopup="false" aria-expanded="false" href="javascript:void(0)" data-level="0" onclick="window.parent.replaceToken()" title="Replace the selected token with the edited image">
          <span class="name trn">Replace Token</span>
        </a>
      `;

      // Add Save Proto Button
      const saveProtoMenuItem = iframeDocument.createElement('li');
saveProtoMenuItem.innerHTML = `
  <a id="main_menu_save_proto" role="menuitem" tabindex="-1" aria-haspopup="false" aria-expanded="false" href="javascript:void(0)" data-level="0" onclick="window.parent.replaceActorTexture('prototypeToken')" title="Save the edited prototype token back to the actor">
    <span class="name trn">Save Proto</span>
  </a>
`;
const saveAIMGMenuItem = iframeDocument.createElement('li');
saveAIMGMenuItem.innerHTML = `
  <a id="main_menu_save_actor_image" role="menuitem" tabindex="-1" aria-haspopup="false" aria-expanded="false" href="javascript:void(0)" data-level="0" onclick="window.parent.replaceActorTexture('img')" title="Save the edited actor image back to the actor">
    <span class="name trn">Save Actor Image</span>
  </a>
`;
const sendTochat = iframeDocument.createElement('li');
sendTochat.innerHTML = `
  <a id="main_menu_zz" role="menuitem" tabindex="-1" aria-haspopup="false" aria-expanded="false" href="javascript:void(0)" data-level="0" onclick="window.parent.showCanvasInImagePopout()" title="Show to players!">
    <span class="name trn">Popout!</span>
  </a>
`;

const adddot = iframeDocument.createElement('li');
adddot.innerHTML = `
  <div style="display: flex;justify-content: center;align-items: center;margin-right: 5px;margin-left: 2px;">•</div>
`;

// Insert the new menu items at the beginning of the menu bar
menuBar.insertBefore(adddot, menuBar.firstChild);
menuBar.insertBefore(sendTochat, menuBar.firstChild);
menuBar.insertBefore(saveAIMGMenuItem, menuBar.firstChild);
menuBar.insertBefore(saveProtoMenuItem, menuBar.firstChild);
menuBar.insertBefore(replaceTokenMenuItem, menuBar.firstChild);
menuBar.insertBefore(replaceTileMenuItem, menuBar.firstChild);
menuBar.insertBefore(loadBrowseMenuItem, menuBar.firstChild);
menuBar.insertBefore(loadTokenMenuItem, menuBar.firstChild);
menuBar.insertBefore(loadTileMenuItem, menuBar.firstChild);
    }
  }




}

// Attach an event listener to the iframe to run the function once it's loaded
document.getElementById('myFrame').addEventListener('load', injectMenuItems);

</script>
